---
import Navbar from "@components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--primary: #13005a;
		--secondary: #00337c;
		--action: #1c82ad;
		--accent: #03c988;
		--color: #ffffff;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	body {
		width: 100vw;
		max-width: 100%;
		min-height: 100vh;
		background-color: var(--primary);
		color:var(--color);
		padding: 0;
		margin: 0;
		display: flex;
	}

	main {
		flex-grow: 1;
		padding: 1rem;
	}

	a,
	a:visited {
		color: color-mix(in srgb, var(--color) 80%, var(--action));
		text-decoration: inherit;
	}
</style>
